@use "base";
@use "global";
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: global.$primary-color;
  min-width: 100%;
  min-height: 100vh;
  color: #fff;
  &__inner {
    max-width: 500px;
  }
}
.display {
  width: 200px;
  font-size: 44px;
  background: global.$display-color;
  color: #000;
}
.buttonPanel {
  display: grid;
}
.button {
  font-size: 20px;
  width: 60px;
  height: 60px;
  background: global.$button-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
