@use "base";
@use "global";
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: global.$primary-color;
  min-width: 100%;
  min-height: 100vh;
  color: #fff;
  &__inner {
    max-width: 500px;
  }
}
.display {
  width: 200px;
  font-size: 44px;
  background: global.$display-color;
  color: #000;
}
.buttonPanel {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 10px;
}
.button {
  font-size: 20px;
  width: 80px;
  height: 80px;
  background: global.$button-primary-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  &--dark {
    background: global.$button-dark-color;
    color: #fff;
  }
  &--green {
    background: global.$button-green-color;
  }
  &--large {
    width: 160px;
    height: 80px;
    border-radius: 80px;
  }
}
