@use "base";
@use "global";
.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: global.$primary-color;
  min-width: 100%;
  min-height: 100vh;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  &__inner {
    max-width: 500px;
  }
}
.display {
  font-size: 60px;
  background: global.$display-color;
  color: #000;
  color: #fff;
  border-radius: 8px;
  padding: 20px;
  text-align: right;
  font-weight: 300;
  margin-bottom: 20px;
  min-height: calc(100vh - 540px);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 350px;
  letter-spacing: -0.04em;
  &--large {
    font-size: 44px;
  }
  &--xlarge {
    font-size: 38px;
  }
  &--xxlarge {
    font-size: 33px;
  }
}
.buttonPanel {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 10px;
}
.button {
  font-size: 36px;
  width: 80px;
  height: 80px;
  background: global.$button-primary-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  &--dark {
    background: global.$button-dark-color;
    color: #fff;
  }
  &--green {
    background: global.$button-green-color;
  }
  &--large {
    width: 170px;
    height: 80px;
    border-radius: 80px;
    grid-column: span 2;
    padding: 0 30px;
    justify-content: flex-start;
  }
}
