$primary-color: #354259;
$secondary-color: #c2ded1;
$display-color: rgba(0, 0, 0, 0.4);
$button-primary-color: #ece5c7;
$button-dark-color: #545b69;
$button-green-color: #c2ded1;
$text-color: #393939;
